---
title: Resume
layout: home
---
<div class="jumbotron">
	<h1>Luke Sheard</h1>
	<p>I am an aspiring developer &amp; product manager currently working towards an MMath degree reading mathematics at the University of California, Berkeley. After I graduate in summer of 2016 I plan on applying for a graduate program in computer science or for a job in San Francisco.</p>
</div>


<div class="row">
	<div class="col-xs-12 col-md-8">
		<h3 class="heading">Work Experience</h3>
		<div class="panel-group" id="accordionWork" role="tablist" aria-multiselectable="true">
			{% for job in site.jobs %}
				{% if {{job.type}} == "work" %}
					<div class="panel panel-default">
					<div class="panel-heading" role="tab" id='heading{{job.item}}'>
							<small class="place">
								{% if job.company != nil %}
									{{job.company}},
								{% endif %} 
								{{job.location}}</small>
							<small class="date">{{job.range}}</small>
							<h5 class="panel-title">
								<a data-toggle="collapse" href='#collapse{{job.item}}' aria-controls='collapse{{job.item}}'>
										{{job.position}}
								</a>
							</h5>
							<small><a href="http://{{job.link}}" target="_blank" />{{job.link}}</a></small>
					</div>
					<div id='collapse{{job.item}}' class="panel-collapse collapse">
						<div class="panel-body">
							 {{ job.content }}
						</div>
					</div>
				</div>
				{% endif %}
			{% endfor %}
		</div>

		<h3 class="heading">Voluntary</h3>
		<div class="panel-group" id="accordionVolunteering" role="tablist" aria-multiselectable="true">
			{% for job in site.jobs %}
				{% if {{job.type}} == "volunteer" %}
					<div class="panel panel-default">
					<div class="panel-heading" role="tab" id='heading{{job.item}}'>
							<small class="place">
								{% if job.company != nil %}
									{{job.company}},
								{% endif %} 
								{{job.location}}</small>
							<small class="date">{{job.range}}</small>
							<small class="date">{{job.date}}</small>
							<h5 class="panel-title">
								<a data-toggle="collapse" href='#collapse{{job.item}}' aria-controls='collapse{{job.item}}'>
										{{job.position}}
								</a>
							</h5>
							<small><a href="http://{{job.link}}" target="_blank" />{{job.link}}</a></small>
					</div>
					<div id='collapse{{job.item}}' class="panel-collapse collapse">
						<div class="panel-body">
							 {{ job.content }}
						</div>
					</div>
				</div>
				{% endif %}
			{% endfor %}
		</div>

	</div>

	<div class="col-xs-12 col-md-4">
		<h3 class="heading">Education</h3>
		<div class="panel-group" id="accordionEducation" role="tablist" aria-multiselectable="true">
			{% for job in site.jobs %}
				{% if {{job.type}} == "education" %}
					<div class="panel panel-default">
					<div class="panel-heading" role="tab" id='heading{{job.item}}'>
							<small class="place">
								{% if job.company != nil %}
									{{job.company}},
								{% endif %} 
								{{job.location}}</small>
							<small class="date">{{job.range}}</small>
							<small class="date">{{job.date}}</small>
							<h5 class="panel-title">
								<a data-toggle="collapse" href='#collapse{{job.item}}' aria-controls='collapse{{job.item}}'>
										{{job.position}}
								</a>
							</h5>
							<small><a href="http://{{job.link}}" target="_blank" />{{job.link}}</a></small>
					</div>
					<div id='collapse{{job.item}}' class="panel-collapse collapse">
						<div class="panel-body">
							 {{ job.content }}
						</div>
					</div>
				</div>
				{% endif %}
			{% endfor %}
		</div>

		<h3 class="heading">Skill Set</h3>
		<ul class="skills bubbles">
			<li><code>HTML5</code></li>
			<li>Product Management</li>
			<li><code>CSS3</code></li>
			<li>UI Design</li>
			<li>Adobe Photoshop</li>
			<li>Adobe Illustrator</li>
			<li>Adobe Lightroom</li>
			<li>Adobe Premiere</li>
			<li><code>Java</code></li>
			<li><code>Python</code></li>
			<li><code>Git</code></li>
			<li>Data Analysis</li>
			<li>Wordpress</li>
			<li>Data Stuctures</li>
			<li><code>JQuery</code></li>
		</ul>

		<h3 class="heading">Additional</h3>
		<ul class="skills lines">
			<li><p>First Lego League World Finalist.</p></li>
			<li><p>High School ambassador to Chongqing, China. </p></li>
		</ul>
	</div>
</div>