<!DOCTYPE html5>
<html lang="en">
<head>
	<meta charset="utf-8">
   	<title>Luke Sheard | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
	
	<!-- STYLING -->
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href="/assets/css/bootstrap.css" rel="stylesheet">
	<link href="/assets/css/main.css" rel="stylesheet">

	<!-- Javascript Files -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script>
        $("#carousel").carousel();
    </script>

    {% if page.title == "Resume" %}
	  	<script type="text/javascript">
		    $(document).ready(function(){
		      var $ul = $('.skills')
		            var $liArr = $ul.children('li');
		            
		            $liArr.sort(function(a,b){
		            var temp = parseInt( Math.random()*10 );
		            var isOddOrEven = temp%2;
		            var isPosOrNeg = temp>5 ? 1 : -1;
		            return( isOddOrEven*isPosOrNeg );
		            })
		            .appendTo($ul);
		    });
		</script>
	{% endif %}

	<script>
	    $(document).ready(function(){
	      	var likes = 10;
	      	if ($(".heart")[0]){
		      	var heart = document.getElementById("heart");
		      	var total = document.getElementById("total");
		      	total.innerHTML = likes + " people like this";

		      	heart.onclick = function(){
		        	if (heart.className == "likeme glyphicon glyphicon-heart-empty") {
		          	heart.className = "liked glyphicon glyphicon-heart";
		          	likes = likes + 1;
		          	total.innerHTML = likes + " people like this";
		        	}
		      	};
		  	}
	    });

	    $(document).ready(function(){
	    	var json = $.getJSON("posts.json")
	    	// var posts = $.parseJSON(json);
			alert( json.title);
	    });
	</script>
	

	<!-- HEADER IMAGES -->
  	<style type="text/css">
	  	header{
	  		{% if page.layout == 'post' %}
			background-image: url("/images/headers/posts/{{page.title}}.jpg");
			{% elsif page.layout == "gallery" %}
			background-image: url("/images/headers/posts/{{page.title}}.jpg");
			{% elsif page.layout == "show" %}
			background-image: url("/images/headers/shows/{{page.title}}.jpg");
			{% else  %}
			background-image: url("/images/headers/pages/{{page.title}}.jpg");
			{% endif %}

			{% if page.layout == "blog" %}
			padding-bottom: 0;
			margin-bottom: 0;
			{% endif %}
	  	}
  	</style>
</head>

<body>
	<header id="header">
		<nav class="navbar">
		  	<div class="container-fluid">
			    <!-- Homepage link and NavBar collapse for small display -->
			    <div class="navbar-header">
			    	<a class="navbar-brand" href="/">Luke Sheard</a>

			      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
			      	</button>			      
			    </div>

				<!-- NavBar Links -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  	<ul class="nav navbar-nav navbar-right">
						{% for link in site.navigation %}
							{% if link.url != "/about/" %}
						    <li {% if {{page.url}} == {{link.ref}} %}class="open"{% endif %}>
						       	<a href="{{link.url}}" title="{{link.text}}">{{link.text}}</a>
						   	</li>
						   	{% else%}
						   	<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
				            		<li><a href="/about/">About</a></li>
				            		<li><a href="/about/resume/">Resume</a></li>
				          		</ul>
				       		</li>
				       		{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		</nav>