<!DOCTYPE html5>
<html lang="en">
<head>
	<meta charset="utf-8">
   	<title>Luke Sheard | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
	
	<!-- STYLING -->
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href="/assets/css/bootstrap.css" rel="stylesheet">
	<link href="/assets/css/main.css" rel="stylesheet">

	

	<!-- HEADER IMAGES -->
  	<style type="text/css">
	  	#header{
	  		{% if page.layout == 'post' %}
			background-image: url("/images/headers/posts/{{page.title}}.jpg");
			{% elsif page.layout == "gallery" %}
			background-image: url("/images/headers/posts/{{page.title}}.jpg");
			{% elsif page.layout == "show" %}
			background-image: url("/images/headers/shows/{{page.title}}.jpg");
			{% else  %}
			background-image: url("/images/headers/pages/{{page.title}}.jpg");
			{% endif %}

			{% if page.layout == "blog" %}
			padding-bottom: 0;
			margin-bottom: 0;
			{% endif %}
	  	}
  	</style>
</head>

<body>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title" id="myModalLabel">Watch Out!</h4>
	      		</div>
		      	<div class="modal-body">
		        <p>Please note this website is still in development, if you see any mistakes please feel free to <a href="mailto:me@lukesheard.com">e-mail me</a> with updates!
		      	</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      		</div>
	    	</div>
	  	</div>
	</div>

	<header id="header">
		<nav class="navbar">
		  	<div class="container-fluid">
			    <!-- Homepage link and NavBar collapse for small display -->
			    <div class="navbar-header">
			    	<a class="navbar-brand" href="/">Luke Sheard</a>

			      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
			      	</button>			      
			    </div>

				<!-- NavBar Links -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  	<ul class="nav navbar-nav navbar-right">
						{% for link in site.navigation %}
							{% if {{link.type}} == "link" %}
								<li>
						       		<a href="{{link.url}}" title="{{link.text}}">{{link.text}}</a>
						       	</li>
						   	{% elsif {{link.type}} == "dropdown" %}
								<li class="dropdown" >
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{link.text}} <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="{{link.url}}">{{link.text}}</a></li>
					            		{% for item in link.pages %}
											<li><a href="{{link.url}}{{item}}">{{item}}</a></li>
					            		{% endfor %}
					          		</ul>
					          	</li>
						   	{% endif %}
						{% endfor %}
				  	</ul>
				</div>
			</div>
		</nav>