<!DOCTYPE html5>
<html lang="en">
<head>
   	<title>Luke Sheard | {{ page.title }}</title>
    
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:title" content="Luke Sheard | {{page.title}}" />
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="http://www.lukesheard.com{{page.url}}" />
	<meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />
	<meta name="google-site-verification" content="5QV_SpTDVTyEje8tNp16KGDW59hoeUa58em2jsf4NAo" />
	
	<!-- Styling -->
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href="/assets/css/bootstrap.css" rel="stylesheet">
	<link href="/assets/css/main.css" rel="stylesheet">
</head>

<body>
	<header id="header">
		<nav class="navbar">
		  	<div class="container-fluid">
			    <div class="navbar-header">
			    	<a class="navbar-brand" href="/">Luke Sheard</a>

			      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="glyphicon glyphicon-menu-hamburger"></span>
			      	</button>			      
			    </div>
				<div class="collapse navbar-collapse">
				  	<ul class="nav navbar-nav navbar-right" id="navbar">
						{% for link in site.navigation %}
							{% if {{link.type}} == "link" %}
								<li id="link">
						       		<a id="{{link.text}}" href="{{link.url}}">{{link.text}}</a>
						       	</li>
						   	{% elsif {{link.type}} == "dropdown" %}
								<li id="dropdown" class="dropdown">
									<a id="{{link.text}}" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{link.text}} <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li id="{{link.text}}"><a href="{{link.url}}">{{link.text}}</a></li>
					            		{% for item in link.pages %}
											<li><a href="{{link.url}}{{item}}">{{item}}</a></li>
					            		{% endfor %}
					          		</ul>
					          	</li>
						   	{% endif %}
						{% endfor %}
				  	</ul>
				</div>
			</div>
		</nav>
