.body{
	margin: 0;
}

header{
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.45);

	background-position: 50% 50%;
	overflow: hidden;
	height: 100vh;
	padding-bottom: 25px;
	margin-bottom: 50px;
	width: 100%;
}	

@media screen and (min-width: 768px){
	header{
		height: 50vh;
		min-height: 350px;
	}
}

footer{
	background-color: #3f3f3f;
	color: #fff;
	width: 100%;
	bottom:0;
	position: relative;
	min-height: 65px;
	padding-top: 20px;
	padding-bottom: 15px;
	margin-top: 50px;
}	
footer a:hover, a:focus{
  color: #ffffff;
  text-decoration: underline;
}

.social{
	display: inline;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.social > ul{
	padding-left: 5px;
	display: inline;
}

.social > li{
	font-size: 1.15em;
	padding-right: 5px;
	display: inline;
}
.social > li:last-child{
	padding: 0;
}

.social > li > a{
	text-decoration: none;
}

.title{
	vertical-align: middle;
	display: block;
	margin-top: 10vh;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 50px;
	margin-left: 10px;
	margin-right: 10px;
}

@media screen and (max-width: 774px){
	.title{
		margin-top: 25vh;
	}
}

.title h1{
	font-size: 5em;
	color: #fff;
}

.title .info{
	color: #fff;
}

.title small{
	color: #fff;
}

.gallery{
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
}

#content > img {
	max-height: 450px;
	float: left;
	margin-right:1%;
	margin-bottom:15px;
}

hr {
  background: #ddd; 
  clear: both; 
  float: none; 
  width: 100%; 
  height: 1px;
  margin: 0 0 1.4em;
  border: none; 
}

.blog-loop{
	margin: 0;
}

.post{
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: 50% 50%;
	box-shadow: inset 0 0 0 1000px rgba(255,255, 255, .45);
}

@media (max-width: 768px) { 
	.post{
		min-height: 50vw;
	}
}
@media (min-width: 768px) and (max-width: 1200px) { 
	.post{
		min-height: 33.33vw;
	}
}
@media (min-width: 1200px) { 
	.post{
		min-height: 22.22vw;
	}
}

.post-title{
	font-weight: 700;
	text-align: center;
  	width: 80%;
  	transform: translate(-50%, -50%);
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	padding: 20px;
  	resize: both;
  	overflow: auto;
}

.sidebar{
	border-left-width: 2px;
	border-left-color: #ddd;
	border-left-style: solid;
}
