---
title: Blog
layout: blog

menu: blog
---

<div class="blog-loop">
	<div class="row">
		{% for post in site.posts %}
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 post" style="background-image: url('/images/headers/posts/{{post.title}}.jpg');" onclick="location.href='{{post.url}}';">
				<div class="post-title">
					<h3>{{post.title}}</h3>
					<h6>{{post.date | date: "%B %-d, %Y"}}</h6>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>