{% include header.html %}

	<div class="title">
		<h1>{{ page.title }}</h1>
		<h5 class="info">
			<small>
				<span class="glyphicon glyphicon-time" aria-hidden="true"></span> 
				{{ page.date | date: "%B %-d, %Y"}}
				{% if page.location != nil %}
					&nbsp; &nbsp; &nbsp;
					<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 
					{{ page.location }}
				{% endif %}
			</small>
		</h5>
	</div>

</div>
</header>

<div class="container">		
	<div class="row">
	 	<div class="col-xs-12 cod-sm-12 col-md-9" style="border-right-width: 2px; border-right-color: #ddd; border-right-style: solid;">
			<div id="content">
				{{ content }}
			</div>
		</div>


	  	<div class="hidden-sm col-xs-12 col-md-3">
	  		{% include sidebar.html %}
	  	</div>
	</div>
</div>

{% include footer.html %}