{% include header.html %}

	<div class="title">
		<h1 id="PageTitle">{{ page.title }}</h1>
		<h5 class="info">
			<small>
				<span class="glyphicon glyphicon-time" aria-hidden="true"></span> 
				{{ page.date | date: "%B %-d, %Y"}}
				{% if page.location != nil %}
					&nbsp; &nbsp; &nbsp;
					<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 
					{{ page.location }}
				{% endif %}
			</small>
		</h5>
	</div>

</div>
</header>

{% if {{page.categories}} == nil %}	
<div class="container">	
	<div class="row">
	 	<div class="col-xs-12 cod-sm-12 col-md-9">
			<div id="content" role="main">
				{{ content }}
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-8">
			Written by Luke Sheard.
			</div>
		</div>

		
	  	<div class="hidden-xs hidden-sm col-md-3 sidebar">
	  		{% include sidebar.html %}
	  	</div>
	</div>
</div>
{% else %}

<div class="container">
	<div id="content">
		{{ content }}
	</div>

			
	<div class="container post-info">
		<p id="total">people like this</p>
		<span id="heart" class="likeme glyphicon glyphicon-heart-empty"></span>
	</div>

	<div class="container box">
		{% for post in site.posts %}
	        {% if post.url == page.url %}
	            {% assign post_index0 = forloop.index0 %}
	            {% assign post_index1 = forloop.index %}
	        {% endif %}
	    {% endfor %}
	    {% for post in site.posts %}
	        {% if post_index0 == forloop.index %}
	            {% assign next_post = post.url %}
	            {% assign next_post_date = post.date %}
	            {% assign next_post_title = post.title %}
	        {% endif %}
	        {% if post_index1 == forloop.index0 %}
	            {% assign prev_post = post.url %}
	            {% assign prev_post_date = post.date %}
	            {% assign prev_post_title = post.title %}
	        {% endif %}
	    {% endfor %}

	    {% if next_post %}
	    	
	    {% endif %}

	

	    {% if prev_post %}
	    	<div class="prev_post" onclick="location.href='{{prev_post}}'">
	    			<small class="nocolor">PREVIOUS POST</small>
		    		<h5>{{prev_post_title}}</h5>
		    		<small>{{prev_post_date | date: "%B %-d, %Y"}}</small>
	    	</div>
	    {% endif %}
	    {% if next_post %}
	    	<div class="next_post" onclick="location.href='{{next_post}}'">
	    			<small class="nocolor">NEXT POST</small>
		    		<h5>{{next_post_title}}</h5>
		    		<small>{{next_post_date | date: "%B %-d, %Y"}}</small>
	    	</div>
		{% else %}
			<div class="filler">
				&nbsp;
			</div>	
	    {% endif %}
		</div>
	</div>
</div>

{% endif%}


{% include footer.html %}