{% include header.html %}

	<div class="title">
		<h1>{{ page.title }}</h1>
		<h5 class="info">
			<small>
				<span class="glyphicon glyphicon-time" aria-hidden="true"></span> 
				{{ page.date | date: "%B %-d, %Y"}}
				{% if page.location != nil %}
					&nbsp; &nbsp; &nbsp;
					<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 
					{{ page.location }}
				{% endif %}
			</small>
		</h5>
	</div>

</div>
</header>

{% if {{page.categories}} == nil %}	
<div class="container">	
	<div class="row">
	 	<div class="col-xs-12 cod-sm-12 col-md-9">
			<div id="content" role="main">
				{{ content }}
			</div>
		</div>

		
	  	<div class="hidden-xs hidden-sm col-md-3 sidebar">
	  		{% include sidebar.html %}
	  	</div>
	</div>
</div>
{% else %}

<div class="container">
	<div id="content">
		{{ content }}
	</div>
</div>

{% endif%}


{% include footer.html %}